body {
    color: #4F4F4F;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}
body h1, h2 {
    padding-top: 30px;
}
body p {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
li {
    color: #4F4F4F;
    padding: 20px;
}
.jumbotron {
    background: url("img/image.png");
    background-size: cover;
    height: 500px;
}
.jumbotron h1 {
    color: #FF7600;
    font-size: 60px;
    padding-right: 20px;
    text-transform: uppercase;
}
.jumbotron p {
    font-size: 30px;
    padding-right: 20px;
}
.btn-orange {
    background-color: #FF7600;
}
.services img {
    padding: 20px;
}
.readmore1 {
    background-image: url("img/women_box.png");
    background-color: #E9E9EB;
    background-position: center;
    background-size: 1000px ;
    background-repeat: no-repeat;
    height: 680px;
}
.orangebox {
    background-color: #FF9D39;
    color: #FFFFFF;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    height: 400px;
    width: 400px;
}
.orangebox h1 {
    padding-top: 40px;
}
.orangebox p {
   margin: 20px;
   padding-left: 50px;
   padding-right: 50px;
}
.btn-light {
    width: 60%;
}
.readmore2 {
    background-color: #FDE9C9;
}
.readmore2 img {
    padding: 30px;
    position: absolute;
    width: 60%;
}
.white {
    background-color: #FFFFFF;
    height: 80px;
}
.team {
    background-color: #F7FDFF;
}
.footer h2 {
    text-decoration: underline;
}
.footer h5 {
    font-style: italic;
}
ion-icon {
    font-size: 30px;
    padding: 10px;
}
@media (max-width: 48em) {
    table .btn {
        font-size: 0.75em;
        font-size: 3.5vw;
    }
}